.no_display {
  display: none !important;
}
.top-header {
  margin-bottom: 0;
  /*padding-top: 10px;*/
  background-color: black;
  height: 50px;
}
.fa-search {
  background: url("../images/search.svg") no-repeat scroll left center transparent;
}
.padding-top-0{
  padding-top: 0px;
}
.padding-top-30{
  padding-top: 30px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-top-50{
  padding-top: 50px;
}
.padding-bottom-30{
  padding-bottom: 30px;
}
.padding-left-20{
  padding-left: 20px;
}
.margin-top-50 {
  margin-top: 50px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-right-10{
  margin-right: 10px;
}
.border-solid-1{
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 1px;
  border-top: 1px solid #ddd !important;
}
.no-horizontal-padding{
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
.center-align{
  text-align: center;
}
.sem-div{
  margin-top: -20px;
  padding-bottom: 10px;
  /*height: 320px;*/
  background-color: #4c575f;
  box-shadow: 0px 2px 1px #87939c;
}
.sem-row{
  padding: 20px 0;
}
.a-border{
  display: inline-block; margin: 0 5px 5px 0; padding: 0px 10px; background-color: #aab5c3; -webkit-border-radius: 10px; -moz-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px;color: #fff; text-decoration: none;
}
.common-icon{
  height: 70px;
  padding: 10px 0;
  width: 100%;
}
.web-content{
  background-color: #ededed;
  padding-left: 0;
}
.site-header .search:focus {
  border-color:#4c575f;
  /*box-shadow: 0px 2px 0 0 #208d4e;*/
  /*box-shadow: 2px 2px 3px #aaaaaa*/
}
.well-sm {
  height: 60px;
  padding: 12px;
}
.common-svg {
  float: left;
  text-indent: -9999px;
  height: 40px;
  width: 60px;
  margin-right:10px;
  background-size:contain;
}
.common-163 {
  background: url('../images/common/163_common.svg') no-repeat 0 0;
}
.common-12306 {
  background: url('../images/common/12306_common.svg') no-repeat 0 0;
}
.common-facebook {
  background: url('../images/common/facebook_common.svg') no-repeat 0 0;
}
.common-github {
  background: url('../images/common/github_common.svg') no-repeat 0 0;
}
.common-twitter {
  background: url('../images/common/twitter_common.svg') no-repeat 0 0;
}
.common-weibo {
  background: url('../images/common/weibo_common.svg') no-repeat 0 0;
}
.common-zhihu {
  background: url('../images/common/zhihu_common.svg') no-repeat 0 0;
}
.common-tumblr {
  background: url('../images/common/tumblr_common.svg') no-repeat 0 0;
}
.press-163 {
  background: url('../images/press/163_press.svg') no-repeat 0 0;
}
.press-12306 {
  background: url('../images/press/12306_press.svg') no-repeat 0 0;
}
.press-facebook {
  background: url('../images/press/facebook_press.svg') no-repeat 0 0;
}
.press-github {
  background: url('../images/press/github_press.svg') no-repeat 0 0;
}
.press-twitter {
  background: url('../images/press/twitter_press.svg') no-repeat 0 0;
}
.press-weibo {
  background: url('../images/press/weibo_press.svg') no-repeat 0 0;
}
.press-zhihu {
  background: url('../images/press/zhihu_press.svg') no-repeat 0 0;
}
.press-tumblr {
  background: url('../images/press/tumblr_press.svg') no-repeat 0 0;
}
.fat-footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 0;
}
.web-groups {
  padding-bottom: 30px;
  background-color: #ededed;
}
.content-img {
  width: 40px;
  height: 40px;
}
.login-h1 {
  margin-top: 50px;
  color: #563d7c;
}
.sign-body {
  min-height: 500px !important;
}
.black-a {
  color: black;
}
.bootstrap-only-with {
  float: none;
  padding: 0;
}
.vertical-padding-3 {
  padding: 3px 0;
}
.font-17 {
  font-size: 17px;
}
.sem-svg {
  height: 150px;
  margin-top: -20px;
}
a:link {
 text-decoration: none;
}
a:visited {
 text-decoration: none;
}
a:hover {
 text-decoration: none;
}
a:active {
 text-decoration: none;
}
.navbar-brand {
  color: #F3BC23 !important;
  font-family: arial;
}
.group-title {
  color: #666666;
}
.site-label {
  vertical-align: middle;
  color: #424242;
}
.red-font {
  color: red;
}
.text-center {
  text-align: center;
}
.button-glow.button-border{
  border-width: 1px;
}
