.top-header {
  margin-bottom: 0;
  /*padding-top: 10px;*/
  background-color: black;
  height: 50px;
}
.fa-search {
  background: url("../images/search.svg") no-repeat scroll left center transparent;
}
.padding-top-0{
  padding-top: 0px;
}
.padding-top-30{
  padding-top: 30px;
}
.padding-bottom-30{
  padding-bottom: 30px;
}
.sem-div{
  margin-top: -20px;
  padding-bottom: 10px;
  /*height: 320px;*/
  background-color: #4c575f;
}
.a-border{
  display: inline-block; margin: 0 5px 5px 0; padding: 0px 10px; background-color: #aab5c3; -webkit-border-radius: 10px; -moz-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px;color: #fff; text-decoration: none;
}
.common-icon{
  height: 60px;
}
.web-content{
  background-color: #ededed;
}