<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.teardowall.mapper.WebGroupMapper">

	<resultMap id="webGroupMap" type="com.teardowall.models.WebGroup">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="user_id" property="userId"/>
		<result column="is_default" property="isDefault"/>
		<result column="created_at" property="createdAt"/>
		<result column="updated_at" property="updatedAt"/>
	</resultMap>
	
	<sql id="webGroupColumns">
		name, user_id, is_default, created_at, updated_at
	</sql>
	
	<select id="getDefaultGroups" resultMap="webGroupMap">
		select id, <include refid="webGroupColumns"/> from web_groups where is_default = 1
	</select>
</mapper> 