<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.teardowall.mapper.WebGroupMapper">

	<resultMap id="webGroupMap" type="com.teardowall.models.WebGroup">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="user_id" property="userId"/>
		<result column="is_default" property="isDefault"/>
		<result column="created_at" property="createdAt"/>
		<result column="updated_at" property="updatedAt"/>
	</resultMap>
	
	<sql id="webGroupColumns">
		name, user_id, is_default, created_at, updated_at
	</sql>
	
	<select id="getDefaultGroups" resultMap="webGroupMap">
		select id, <include refid="webGroupColumns"/> from web_groups where is_default = 1
	</select>
	
	<select id="getGroupsByUserId" parameterType="string" resultMap="webGroupMap">
		select id, <include refid="webGroupColumns"/> from web_groups where user_id = #{userId}
	</select>
	
	<select id="getGroupById" parameterType="string" resultMap="webGroupMap">
		select id, <include refid="webGroupColumns"/> from web_groups where id = #{groupId}
	</select>
	
	<select id="getGroupByIdAndUserId" resultMap="webGroupMap">
		select id, <include refid="webGroupColumns"/> from web_groups where id = #{0} and user_id = #{1}
	</select>
	
	<insert id="insertGroup" useGeneratedKeys="true" keyProperty="id" parameterType="com.teardowall.models.WebGroup">
		insert into web_groups (name, user_id, is_default, created_at, updated_at) values (#{name}, #{userId}, #{isDefault}, #{createdAt}, #{updatedAt})
	</insert>
	
	<update id="updateGroup" parameterType="com.teardowall.models.WebGroup">
		update web_groups set name=#{name}, user_id=#{userId}, is_default=#{isDefault}, created_at=#{createdAt}, updated_at=#{updatedAt} where id=#{id}
	</update>
	
	<delete id="deleteGroup" parameterType="string">
		delete from web_sites where id in (select web_site_id from groups_sites where web_group_id = #{groupId});
		delete from groups_sites where web_group_id = #{groupId};
		delete from web_groups where id = #{groupId};
	</delete>
</mapper> 