<!DOCTYPE html>
<html>
<head>
  <title>Teardowall</title>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link href="../../static/css/site.css?id=909" media="all" rel="stylesheet" type="text/css">
  <link href="../../static/css/docs.min.css?id=919" media="all" rel="stylesheet" type="text/css">
  <link href="../../static/css/fat.css?id=99" media="all" rel="stylesheet" type="text/css">
  <link href="../../static/css/buttons.css?id=99" media="all" rel="stylesheet" type="text/css">
  <link href="../../static/css/login.min.css?id=11" media="all" rel="stylesheet" type="text/css">
</head>
<body class="home-template">
  <header class="navbar navbar-static-top bs-docs-nav top-header" id="top" role="banner">
    <div class="container">
      <a href="#" class="col-md-1 navbar-brand">TEARDOWALL</a>
      <label class="col-md-1 col-md-offset-7 no_display">Teardowall</label>
    </div>
  </header>

  <form>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">编辑: <input type="text" name="webGroupName" value="${webGroupName}"></h3>
      </div>
      <div class="panel-body">
        <input type="hidden" name="webGroupId" value="${webGroupId}">
        <div>
          <span>Url</span>
          <span><input type="text" name=""></span>
          <span>name</span>
          <span><input type="text" name=""></span>
          <span>Num</span>
          <!-- <span><input type="text" name="" title="only 0-8"  placeholder="Enter email"></span> -->
          <span>
            <select selected="4">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
          </span>
        </div>
      </div>
    </div>
  </form>
  
  <footer class="bs-docs-footer fat-footer" role="contentinfo">
    <div class="container">
      <p>
        Designed and built with all the love in the world by 
        <a href="https://twitter.com/mdo" target="_blank">@Jackson</a>
         and 
        <a href="https://twitter.com/Jerry1069li" target="_blank">@Jerry</a>.
      </p>
      <!-- <p>Maintained by the <a href="https://github.com/orgs/twbs/people">core team</a> with the help of <a href="https://github.com/liyang1069/teardowall/graphs/contributors">our contributors</a>.</p>
      <p>本项目源码受 <a href="https://github.com/liyang1069/teardowall/blob/master/LICENSE" target="_blank">MIT</a> 开源协议保护，文档受 <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a> 开源协议保护。</p> -->
      <ul class="bs-docs-footer-links muted">
        <li>当前版本： v1.0.0</li>
        <li>·</li>
        <li><a href="https://github.com/liyang1069/teardowall">GitHub 仓库</a></li>
        <li>·</li>
        <li><a href="https://github.com/liyang1069/teardowall/blob/master/README.md">关于</a></li>
      </ul>
      <p>Anything is open source. Anything is internationalization. Anything is any persion.</p>
      <p>TEAR DOWN THE WALL.WE ALL ARE A FAMILY.</p>
    </div>
  </footer>

</body>
<script charset="gbk" src="http://www.baidu.com/js/opensug.js"></script>
<script src="http://s1.bdstatic.com/r/www/cache/global/js/BaiduHttps_20150714_zhanzhang.js"></script>
<!-- <script src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/js/lib/jquery-1.10.2_d88366fd.js"></script> -->
<script src="../../static/js/fat.js"></script>
<!-- <script src="../../static/js/baidu.js"></script> -->
<script type="text/javascript">
  
</script>
</html>