<!DOCTYPE html>
<html>
<head>
  <title>Teardowall</title>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link href="asset/css/fat.css?id=99" media="all" rel="stylesheet" type="text/css">
  <link href="asset/css/site.css?id=909" media="all" rel="stylesheet" type="text/css">
  <link href="asset/css/docs.min.css?id=919" media="all" rel="stylesheet" type="text/css">
</head>
<body class="home-template">
  <header class="navbar navbar-static-top bs-docs-nav top-header" id="top" role="banner">
    <div class="container">
      <a href="#" class="col-md-1 navbar-brand">TEARDOWALL</a>
      <label class="col-md-1 col-md-offset-7">Teardowall</label>
    </div>
  </header>
  
  <div class="site-header jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 id="sem_h1">Google</h1>
          <form class="" role="search">
            <div class="form-group">
              <input type="text" class="form-control search clearable" placeholder="搜索开源库，例如：jquery"> 
              <i class="fa fa-search"></i>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>